*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url('https://www-konga-com-res.cloudinary.com/image/upload/v1689344798/landingPages/KongaAnniv23/Frame_4.png'); */
}

header .nav1ads a img{
    text-decoration: none;
    height: 10vh;
    width: 100%;
    margin: auto;
}

header .nav2{

    background-color: #F6F6F6;
    min-height: 5vh;
    margin-top: -2px;
    
    /* padding-top: 10px; */
}

header .nav2 .navimg{
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 

}

header .nav2 .navimg a{
    text-decoration: none;
}

header .nav2 .navimg a img{
   
    height: 3vh;
    padding-right: 50px;  
}


/* navigation bar three starts here */

header .nav3{
    background-color: #ed017f;

}

header .nav3 .nav3div .logo a img{
    height: 5vh;
}

header .nav3 .nav3div{
    width: 97%;
    /* background-color: green; */
    margin: auto;
    display: flex;
    align-items: center;
    height: 65px;
}

header .nav3 .nav3div .logo{

    /* background-color: blue; */
    /* height: 5vh; */
    width: 10%;
    margin-right: 30px;
}

header .nav3 .nav3div .nav3links{
   width: 90%;
   /* background-color: yellow; */
   display: flex;
   align-items: center;
   height: 60px;
   
}

header .nav3 .nav3div .nav3links a{

    text-decoration: none;
}

header .nav3 .nav3div .nav3links #searchbutton{

    width: 50%;
    font-size: 13px!important;
    height: 35px;

}

header .nav3 .nav3div .nav3links #searchbutton input{

    font-size: 13px!important;
   

}

header .nav3 .nav3div .nav3links #searchbutton .searchbut{
    background-color: #FBA100!important;
}

header .nav3 .nav3div .nav3links #searchbutton button .fa-solid{

    font-size: 12px;

}
header .nav3 .nav3div .nav3links .storelink{
    /* background-color: red; */
    padding: 15px 16px;
    padding-right: 50px;
    /* margin-top: 10px; */
    font-size: 13px;
    line-height: 1;
    color: #FFFFFF;
    height: 60px;
    transition: 0.5s;
}

header .nav3 .nav3div .nav3links .storelink:hover{

    background-color: #FFFFFF;
    color: #ed017f;
}

header .nav3 .nav3div .nav3links .sellonkonga{
    /* background-color: orange; */
    padding: 10.5px 16px;
    padding-right: 50px;
    font-size: 13px;
    line-height: 1;
    color: #FFFFFF;
    height: 60px;
    transition: 0.5s;
}

header .nav3 .nav3div .nav3links .sellonkonga:hover{

    background-color: #FFFFFF;
    color: #ed017f;
}

header .nav3 .nav3div .nav3links  .helplink{
    /* background-color: green; */
    display: flex;
    align-items: center;
    padding: 10.5px 16px;
    font-size: 13px;
    line-height: 1;
    color: #FFFFFF;
    gap: 0.5rem;
    height: 60px;
    transition: 0.5s;
}

header .nav3 .nav3div .nav3links .helpdropdown .helplink:hover{

    background-color: #FFFFFF;
    color: #ed017f;
}

header .nav3 .nav3div .nav3links .helplink {
    display: flex;
    align-items: center;
    line-height: 1;
    color: #FFFFFF;
}


/* dropdown for help link */

.helpdropdown{
    position: relative;
    display: inline-block;
    z-index: 1;
    
}

.helpdropcontents{
    position: absolute;
    min-height: 10vh;
    min-width:200% ;
    background-color: #FFFFFF;
    /* background-color: red; */
    display: none;   
    /* background-color: green; */
    top: 50px;
    transition: 2s;
    
    
}

.helpdropcontents div a{
    color: black;
    line-height: 2.5rem;
    font-size: 13px;
    padding: 10px 50px 10px 20px;
    /* background-color: blue; */
    
}

.helpdropdown:hover .helpdropcontents{
    display: block;
    transform: translateY(10px);
}

.helpdropcontents div a:hover{
    color: red;
}

.helpdropcontents div:hover{
    color: red;
    background-color: rgb(238, 235, 235);
}



header .nav3 .nav3div .nav3links .login{
    /* background-color: red; */
    padding: 10.5px 16px;
    padding-right: 50px;
    font-size: 13px;
    line-height: 1;
    color: #FFFFFF;
    height: 60px;
    transition: 0.5s;
}

header .nav3 .nav3div .nav3links .login:hover{

    background-color: #FFFFFF;
    color: #ed017f;
}


header .nav3 .nav3div .nav3links .cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    background-color: #33b27b;
    border-radius: 3px;
    padding: 20px 25px;
    margin-left: 8px;
    color: white;
    font-size: 13px;
    height: 35px;
    transition: 0.5s;
}

header .nav3 .nav3div .nav3links .cart:hover{

    background-color: #1f8a5b;
}

header .nav3 .nav3div .nav3links .cart p{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

header .nav3 .nav3div .nav3links .cart .number{
   background-color: rgb(255, 255, 255);
   padding: 6px 4px;
   margin-left: 8px;
   border-radius: 3px;
   color: black;
}

/* nav4 */

header .nav4{

    background-color: #94004f;
}

header .nav4 .nav4links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav4 .nav4links a{
    text-decoration: none;
    color: white;
    font: 13px;
}

header .nav4 .nav4links .categories{
    padding: 12px 24px;
}

header .nav4 .nav4links .computer{
    padding: 12px 15px;
}

header .nav4 .nav4links .phones{
    padding: 12px 15px;
}

header .nav4 .nav4links .Electronics{
    padding: 12px 15px;
}

header .nav4 .nav4links .Fashion{
    padding: 12px 15px;
}
header .nav4 .nav4links .HomeKitchen{
    padding: 12px 15px;
}
header .nav4 .nav4links .BabyToys{
    padding: 12px 15px;
}
header .nav4 .nav4links .others{
    padding: 12px 15px;
}


/* dropdown styling for categories */
header .nav4 .nav4links .categ{

    position: relative;
    display: inline-block;
}

header .nav4 .nav4links .categ .categoriesdropdown{

    top: 36px;
    position: absolute;
    background-color: #FFFFFF;
    min-height: 50vh;
    width: 100vw;
    display: flex;

}

header .nav4 .nav4links .categ .categoriesdropdown a{

        color: black;
}


header .nav4 .nav4links .categ .categoriesdropdown .categ2nd .computercontents ul li{

    padding: 5px 0;
    list-style-type: none;
} 

header .nav4 .nav4links .categ .categoriesdropdown .categ2nd .computercontents{

    padding: 20px;
}

header .nav4 .nav4links .categ .categoriesdropdown .categ1stbar{

    background-color: red;
    width: 35%;
    display: inline-block;
    padding-top: 20px;
}


header .nav4 .nav4links .categ .categoriesdropdown .categ1stbar ul li{


   
    /* background-color: blue; */
    list-style-type: none;
    margin-left: -30px;
    width: 100%; 
    
}


header .nav4 .nav4links .categ .categoriesdropdown .categ1stbar ul{

    background-color: green;
    font-size: 1em;
    /* min-height: 10vh; */
    line-height: 2.5rem;
}

header .nav4 .nav4links .categ .categoriesdropdown .categ1stbar ul li{

    background-color: yellow;
    width: 100%;
}


header .nav4 .nav4links .categ .categoriesdropdown .categ1stbar ul li a{

    background-color: blue;
    /* padding: 11px 42px 11px 11px; */
    padding: 11px 30px;
    width: 100%;
}










