*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: thin solid red; */
}

header{

    max-width: 100%;
}

main{
    max-width: 100%;
    background-image: url('https://www-konga-com-res.cloudinary.com/image/upload/v1689344798/landingPages/KongaAnniv23/Frame_4.png');
    /* background-repeat: no-repeat ; */
    background-size: contain;
    margin: 0;

    position: relative;
}

header .nav1ads a img{
    text-decoration: none;
    height: auto;
    width: 100%;
    margin: auto;
}

header .nav2{

    background-color: #F6F6F6;
    min-height: 5vh;
    margin-top: -0.125rem;
    max-width: 100%;
    padding: 0 1.5%;
}

header .nav2 .navimg{
    
    padding: 0.625rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 

}

header .nav2 .navimg a{
    text-decoration: none;
}

header .nav2 .navimg a img{
   
    height: 3vh;
    padding-right: 3.125rem;  
}


/* navigation bar three starts here */
/* navigation bar three starts here */
/* navigation bar three starts here */
/* navigation bar three starts here */
/* navigation bar three starts here */

.nav3{
    background-color: #ed017f;
    padding: 0 1.875rem;
    /* position: fixed; */
    z-index: 3;
    width: 100%;
    position: sticky ;
    top: 0;
}

.nav3 .nav3div .logo a img{
    height: 5vh;
}

.nav3 .nav3div{
    
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3.75rem;
    max-width: 100%;
}

.nav3 .nav3div .logo{
    width: 15%;
}

.nav3 .nav3div .nav3links{
   width: 85%;
   display: flex;
   align-items: center;
   height: 3.75rem;
}

.nav3 .nav3div .nav3links a{

    text-decoration: none;
}

.nav3 .nav3div .nav3links #searchbutton{

    min-width: 48%;
    font-size: 0.813rem!important;
    height: 2.188rem;

}

.nav3 .nav3div .nav3links #searchbutton input{

    font-size: 0.813rem!important;
   

}

.nav3 .nav3div .nav3links #searchbutton .searchbut{
    background-color: #FBA100!important;
}

.nav3 .nav3div .nav3links #searchbutton button .fa-solid{

    font-size: 0.75rem;

}
.nav3 .nav3div .nav3links .storelink{
    /* background-color: red; */
    padding: .9375rem;
    padding-right: 0.938rem;
    padding-left: 0.938rem; 
    /* padding-left: 35px; */
    font-size: 1rem;
    line-height: 1;
    color: #FFFFFF;
    height: 100%;
    transition: 0.5s;
}

.nav3 .nav3div .nav3links .storelink:hover{

    background-color: #FFFFFF;
    color: #ed017f;
}

.nav3 .nav3div .nav3links .sellonkonga{
    /* background-color: orange; */
    padding: 1rem;
    padding-right: 0.938rem;
    padding-left: 0.938rem; 
    font-size: 1rem;
    line-height: 1;
    color: #FFFFFF;
    height: 100%;
    transition: 0.5s;
    white-space: nowrap;
    display: block;
}

.nav3 .nav3div .nav3links .sellonkonga:hover{

    background-color: #FFFFFF;
    color: #ed017f;
}

.nav3 .nav3div .nav3links  .helplink{
    /* background-color: green; */
    display: flex;
    align-items: center;   
    font-size: 1rem;
    line-height: 1;
    color: #FFFFFF;
    gap: 0.5rem;
    height: 3.75rem;
    transition: 0.5s;
    padding: 1.875rem 0;
    padding-right: 1rem;
    padding-left: 1rem;
}

.nav3 .nav3div .nav3links .helpdropdown .helplink:hover{

    background-color: #FFFFFF;
    color: #ed017f;
}

/* dropdown for help link */

.helpdropdown{
    position: relative;
    display: inline-block;
    z-index: 1;
    
}

.helpdropcontents{
    position: absolute;
    min-height: 10vh;
    min-width:200% ;
    background-color: #FFFFFF;
    /* background-color: red; */
    display: none;   
    /* background-color: green; */
    top: 3.125rem;
    transition: 2s;
    
}

.helpdropcontents div a{
    color: black;
    line-height: 2.5rem;
    font-size: 1rem;
    padding: 0.625rem 3.125rem 0.625rem 1.25rem;
    /* background-color: blue; */
    
}

.helpdropdown:hover .helpdropcontents{
    display: block;
    /* transform: translateY(10px); */
}

.helpdropcontents div a:hover{
    color: red;
}

.helpdropcontents div:hover{
    color: red;
    background-color: rgb(238, 235, 235);
}



.nav3 .nav3div .nav3links .login{
    /* background-color: red; */
    padding: .9375rem; 
    font-size: 1rem;
    line-height: 1;
    color: #FFFFFF;
    height: 3.75rem;
    transition: 0.5s;
    white-space: nowrap;
    padding-right: 0.938rem;
    padding-left: 0.938rem; 

}

.nav3 .nav3div .nav3links .login:hover{

    background-color: #FFFFFF;
    color: #ed017f;
}


.nav3 .nav3div .nav3links .cart{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #33b27b;
    border-radius: 0.188rem;
    padding: 1.563rem 1.563rem;
    margin-left: 0.5rem;
    color: white;
    font-size: 1rem;
    height: 2.188rem;
    transition: 0.5s;
}

.nav3 .nav3div .nav3links .cart:hover{

    background-color: #1f8a5b;
}

.nav3 .nav3div .nav3links .cart p{
    display: flex;
    align-items: center;
    gap: 0.313rem;
    margin-top: 1rem;
}

.nav3 .nav3div .nav3links .cart .number{
   background-color: rgb(255, 255, 255);
   padding: 0.188rem 0.375rem;
   margin-left: 0.5rem;
   border-radius: 0.188rem;
   color: black;
   
}




/* nav4 styling starts here*/
/* nav4 styling starts here*/
/* nav4 styling starts here*/
/* nav4 styling starts here*/
/* nav4 styling starts here*/

.nav4{

    background-color: #94004f;
    white-space: nowrap;
    overflow-x: hidden;
    z-index: 1;
    position: sticky ;
    top: 60px;
}

.nav4 .nav4links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav4 .nav4links a{
    text-decoration: none;
    color: white;
}

.nav4 .nav4links .categories{
    padding: 0.75rem 1.5rem;
    height: 100%;
}

.nav4 .nav4links .computer{
    padding: 0.75rem 0.938rem;
}

.nav4 .nav4links .phones{
    padding: 0.75rem 0.938rem;
}

.nav4 .nav4links .Electronics{
    padding: 0.75rem 0.938rem;
}

.nav4 .nav4links .Fashion{
    padding: 0.75rem 0.938rem;
}
.nav4 .nav4links .HomeKitchen{
    padding: 0.75rem 0.938rem;
}
.nav4 .nav4links .BabyToys{
    padding: 0.75rem 0.938rem;
}
.nav4 .nav4links .others{
    padding: 0.75rem 0.938rem;
}


/* categories dropdown styling*/



.nav4 .nav4links .categ{

    position: relative;
    display: inline-block;
    z-index: 3;
    
}


.nav4 .nav4links .categ .Catdropdown{

    top: 2.25rem;
    position: absolute;
    /* background-color: green; */
    min-height: 50vh;
    width: 100vw;
    display:none;

}

.nav4 .nav4links .categories{
    transition: 0.5s;
}

.nav4 .nav4links .categories:hover{
    background-color: #ffffff;
    color: black;
}

.nav4 .nav4links .categ:hover .nav4 .nav4links .categ .Catdropdown{
    display: block;
    z-index: 3;
}

header .nav4 .nav4links .categ .categoriesdropdown{ 
    display: flex;
    width:100%;
}



.nav4 .nav4links .categ .categoriesdropdown a{

        color: black;
}


.nav4 .nav4links .categ .categoriesdropdown .categ1stbar{

    background-color: rgb(243, 243, 239);
    width: 25%;
    padding-top: 1.25rem;
    margin-left: -1.875rem;
}


.nav4 .nav4links .categ .categoriesdropdown .categ1stbar ul li{
    
    list-style-type: none;
    width: 100%; 
    font-size: 1em;
    
}


.nav4 .nav4links .categ .categoriesdropdown .categ1stbar ul .cat-content a{

    
    padding: 0.688 1.875rem;
   display: block;
    text-align: left;
}

.nav4 .nav4links .categ .categoriesdropdown .categ1stbar ul .cat-content a:hover{

    background-color: white;

}


/* 2nd div within the dropdowns */

.nav4 .nav4links .categ .categoriesdropdown .categ2nd{

    background-color: #ffffff;
    width: 75%;
    padding: 1.875rem 1.875rem 301.875rem 0rem;
}

.nav4 .nav4links .categ .categoriesdropdown .categ2nd .comprow{

    /* background-color: yellow; */
    font-size: 0.813;

}


.nav4 .nav4links .categ .categoriesdropdown .categ2nd .computercontents ul li{

    padding: 0.313rem 0;
    list-style-type: none;
    /* background-color: red; */
    /* width: 100%; */
} 

.nav4 .nav4links .categ .categoriesdropdown .categ2nd .computercontents{

    display: flex;
    gap: 1.875rem;
}

.nav4 .nav4links .categ .categoriesdropdown .categ2nd .computercontents .comprow{

    display: grid;
    grid-template-areas:'. . . .'
                        '. . . .';
}

.navsmallscreen, .smallnavlink{
    display: none;
}


/* main styling starts here */
/* main styling starts here */
/* main styling starts here */
/* main styling starts here */
/* main styling starts here */
/* main styling starts here */
main{
    padding-top: 1%;
}

main .first{

    display: flex;
    justify-content: space-between;
    gap: 1.5%;
    width: 97%;
    margin: 1.5% auto;
    /* background-color: aqua; */
    overflow: hidden;
    min-height: 50vh;
}

main .first #carousel div div div img{

    border-radius: 0.625rem;
    height: 60vh;
}

main .first .rowimg{
    gap: 0.625rem;
}

main .first .rowimg .img1 img{

    border-radius: 0.625rem;
    height: 28vh;
    width: 95%;
}

main .first .rowimg .img2 img{

    border-radius: 0.625rem;
    height: 28vh;
    width: 95%;
}

main .first .rowimg .row2{

    margin-top: 4vh;
}

/*section 2  */
/*section 2  */
/*section 2  */
/*section 2  */

main .second{

    display: flex;
    /* gap: 1.5%; */
    margin: 1.5% auto;
    width: 97%;
    justify-content: space-between;
    /* background-color: green; */
}

main .second .img{
    background-color: white;
    padding: 0.938rem 1.563rem;
    border-radius: 0.313rem;
    
}

main .second .img a img{

    height: 4vh;
}


/* section 3 */
/* section 3 */
/* section 3 */
/* section 3 */
/* section 3 */
/* section 3 */


main .third{

    width: 97%;
    margin: 1.5% auto;

}

main .third .kard .c-header{

    background-color: #94004f ;
    color: white;
    
    background-image: url('https://res.cloudinary.com/staging-konga-com/image/upload/f_auto,q_auto/v1654791685/assets/images/homepage/Bg-Icons.png');

    display: flex;
    align-items: center;
    gap: 3.125rem;
}

main .third .kard .c-header a{

    text-decoration: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.8rem;
    color: white;
}

main .third .kard .c-header a:hover{
    text-decoration: underline;
}


main .third .kard .c-body .c-body1 a{

    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 0 0 0.125rem 0.125rem rgb(238, 233, 233);
    border-radius: 0.125rem;
    padding: 0.9rem;
    gap: 1.25rem;
    min-height: 10vh;
    transition: 1s;
}

main .third .kard .c-body .c-body1 a:hover{

    box-shadow: 0px 0px 3px 3px rgb(167, 163, 163);

}

main .third .kard .c-body .c-body1 a .img img{

    height: 15vh;
}

main .third .kard .c-body .c-body1 a .text{

    /* background-color: green; */
    min-height: 10vh;

}

main .third .kard .c-body .c-body1 a .text div:nth-of-type(2){

    display: flex;
    align-items: center;
    gap: 0.625rem;
    /* background-color: red; */
    /* margin-bottom: 7px; */
}

main .third .kard .c-body .c-body1 a .text div:nth-of-type(2) div:nth-child(1){

    font-weight: 700;
}

main .third .kard .c-body .c-body1 a .text div:nth-of-type(2) div:nth-child(2){

    text-decoration: line-through;
}

main .third .kard .c-body .c-body1 a .text div:nth-of-type(2) div:nth-child(3){

    background-color: rgba(255,59,59,.2);
    color: #ff3b3b;
    border-radius: 0.5rem;
    font-size: .625rem;
    padding: 0.313rem;
}

main .third .kard .c-body .c-body1 a .text span{

    font-size: 0.8rem;
    color: green;
    font-weight: 500;
}

main .third .kard .c-body .row2{

    margin-top: 1.25rem;
}

/* section four starts here */
/* section four starts here */
/* section four starts here */
/* section four starts here */


main .fourth{

    padding:0 1.5%;
    margin: 1.5% auto;
    width: 100%;
}

main .fourth div .c-header{
    background-color: white!important;
    color: black;
    font-weight: 700;
}

main .fourth div .c-body{

    display: flex;
    gap: 1.25rem;
    overflow-x: scroll;
}

main .fourth div .c-body div a .img img{

    height: 30vh;
    /* border: thick solid red; */
    /* margin-left:2.5%; */
}

main .fourth div .c-body .sponsored{

    background-color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.938rem;
    box-shadow: 0px 0px 0.125rem 0.125rem rgb(238, 233, 233);
    
    transition: 1s;
    
}

main .fourth div .c-body .sponsored:hover{

    box-shadow: 0px 0px 0.188rem 0.25rem rgb(214, 214, 214);

}


main .fourth div .c-body .sponsored a{

    text-decoration: none;
    color: black;
}

main .fourth div .c-body .sponsored a .text .p{

    font-weight: 500;
    font-size: 1em;
    margin:0.313rem 0 0.938rem ;
    text-align: left;
}

main .fourth div .c-body .sponsored a .text .price{

    font-weight: 700;
    font-size: 1.5em;
}


main .fourth div .c-body .sponsored a .text .prices{

    display: flex;
    align-items: center;
    gap: 0.625rem; 
}

main .fourth div .c-body .sponsored a .text .prices .priceslash{

    text-decoration: line-through;
    color: #454647;
}

main .fourth div .c-body .sponsored a .text .prices .disco{

    background-color: rgba(255,59,59,.2);
    color: #ff3b3b;
    border-radius: 0.5rem;
    font-size: .625rem;
    padding: 0.313rem;
}

main .fourth div .c-body .sponsored a .text span{
    font-size: 0.8rem;
    color: green;
    font-weight: 500;
}

/* section five */
/* section five */
/* section five */
/* section five */
/* section five */


main .fifth .five{

    background-color: white;
    display: flex;
    padding: 1.5%;
    width: 97%;
    margin:0 auto;
    justify-content: space-between;
    border-radius: 0.313rem;

}

main .fifth a img{

width: 25vh;
}


/* section six */
/* section six */
/* section six */
/* section six */



main .six{

    width: 97%;
    margin: 1.5% auto;

}

main .six .kard .c-header{

    background-color: white ;
    color: black;
    display: flex;
    align-items: center;
    gap: 3.125rem;
}

main .six .kard .c-header h5{

    font-weight: 700;
}


main .six .kard .c-header a{

    text-decoration: none;
    font-weight: 700;
    font-size: 0.8rem;
    color: #8b054d;
}

main .six .kard .c-header a:hover{

    text-decoration:underline;
}



main .six .kard .c-body .c-body1 a{

    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 0 0 0.125rem 0.125rem rgb(238, 233, 233);
    border-radius: 0.125rem;
    padding: 0.9rem;
    gap: 1.25rem;
    min-height: 10vh;
    transition: 1s;
}

main .six .kard .c-body .c-body1 a:hover{

    box-shadow: 0px 0px 3px 3px rgb(167, 163, 163);

}

main .six .kard .c-body .c-body1 a .img img{

    height: 15vh;
}

main .six .kard .c-body .c-body1 a .text{

    /* background-color: green; */
    min-height: 10vh;

}

main .six .kard .c-body .c-body1 a .text div:nth-of-type(2){

    display: flex;
    align-items: center;
    gap: 0.625rem;
    /* background-color: red; */
    /* margin-bottom: 7px; */
}

main .six .kard .c-body .c-body1 a .text div:nth-of-type(2) div:nth-child(1){

    font-weight: 700;
}

main .six .kard .c-body .c-body1 a .text div:nth-of-type(2) div:nth-child(2){

    text-decoration: line-through;
}

main .six .kard .c-body .c-body1 a .text div:nth-of-type(2) div:nth-child(3){

    background-color: rgba(255,59,59,.2);
    color: #ff3b3b;
    border-radius: 0.5rem;
    font-size: .625rem;
    padding: 0.313rem;
}

main .six .kard .c-body .c-body1 a .text span{

    font-size: 0.8rem;
    color: green;
    font-weight: 500;
}

main .six .kard .c-body .row2{

    margin-top: 1.25rem;
}


/* section 7 */
/* section 7 */
/* section 7 */
/* section 7 */

main .seven{

    background-color: white;
    width: 97%;
    margin:1.5% auto;
    min-height: 10vh;
    padding:1%;
    border-radius: 0.313rem;
}

main .seven .box a img{
    width:100% ;
    border-radius: 0.313rem;

}

main .eight .box{

    background-color: white;
    width: 97%;
    margin:1.5% auto;
    min-height: 10vh;
    padding:1%;
    border-radius: 0.313rem;
    display: flex;
    gap: 1%;

}

main .eight .box a img{
    width: 100%;
    border-radius: 0.313rem;
}


/* section nine */
/* section nine */
/* section nine */
/* section nine */
/* section nine */


main .nine{

    width: 97%;
    margin:1.5% auto;
    min-height: 10vh;
    display: flex;
    gap: 1.5%;

}

main .nine div{
    background-color: white;
    border-radius: 0.313rem;
}

main .nine div a{
    text-decoration: none;
    color: #5a5f66;
}


main .nine div a img{
    width: 100%;
    border-radius: 0.313rem 0.313rem 0 0;
    margin-bottom: 50px;
}

main .nine div a .text{

    /* background-color: red; */
    width: 100%;
    padding: 1.25rem;
}
main .nine div a .text h5{
    font-weight: 700;
}
main .nine div a .text h5,main .nine div a .text p:nth-of-type(1){
    margin-bottom: 2.188rem;
}

main .nine div a .text p:nth-of-type(2){
    color: #8b054d;
    font-size: 0.9rem;
    font-weight: 600;
}


main .nine div a .text2{
    width: 100%;
    padding: 1.25rem;
}
main .nine div a .text2 h5{
    font-weight: 700;
}

main .nine div a .text2 p:nth-of-type(2){
    color: #8b054d;
    font-size: 0.9rem;
    font-weight: 600;
}


/* section 10 */
/* section 10 */
/* section 10 */
/* section 10 */
/* section 10 */


main .ten{

    width: 97%;
    margin:1.5% auto;
    padding:0 1%;
    /* background-color: white; */
    

}
main .ten div div{
    height: 25vh;
    background-color: white;
    border: 0.5px solid rgba(110, 110, 112, 0.13);
    /* border-right: none; */
    border-bottom: none;
    transition: 1s;
}

main .ten div div:hover{

    transform: scaleX(1.02);
}

main .ten div #one{

    border-left: none;
    border-top: none;
    border-top-left-radius: 0.313rem;
}

main .ten div #two,main .ten div #three,main .ten div #four,main .ten div #five,main .ten div #six{

    border-top: none;

}

main .ten div #seven{

    border-left: none;
    border-bottom-left-radius:0.313rem;
}

main .ten div #six{

    border-top-right-radius: 0.313rem;
}

main .ten div #twelve{

    border-bottom-right-radius: 0.313rem;
}


main .ten div div a img{

    height:10vh;
    margin:45px 0;
    margin-left:  10px;
}

/* section 11 */
/* section 11 */
/* section 11 */
/* section 11 */
/* section 11 */

main .eleven{

    width: 97%;
    margin:1.5% auto;

}

main .eleven div{

    background-color: white;
    padding:1%;
    border-radius: 0.313rem;
}

.footerfirst{

    background-color: #1c1d1f;
    padding:1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1%;
    height: 10vh;

}
.footerfirst a{
    
    text-decoration: none;
    color: #b5b5b5;
    display: flex;
    align-items: center;
    gap: 0.625rem;

}
.footerfirst .link .text{
    margin-top: 15px;
}

.footerfirst .link i{
    color:#1c1d1f;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
}

.footerfirst .inputbox{
    display: flex;
}

.footerfirst .inputbox .text{
    padding: 10px;
    border-top-left-radius:0.313rem;
    border-bottom-left-radius: 0.313rem;
    border: none;
}

.footerfirst .inputbox button{

    padding: 10px;
    border: none;
    border-top-right-radius: 0.313rem;
    border-bottom-right-radius: 0.313rem;
    color: white;
    font-weight: 500;
    background-color: #ed017f;
}

.footersecond{
    background-color: #0c0c0c;
    padding:1%;
    color: #b5b5b5;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.footersecond .footertext .footernav{

    display: flex;
    flex-direction: column;
}

.footersecond .footertext{
    /* border: thin solid red; */
    flex: 70%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.footersecond .footericon{
    flex: 30%;
    /* border: thin solid red; */
}

.footersecond .footertext .footernav a{
    text-decoration: none;
}

.footersecond .footertext .footernav .a:hover,.footersecond .footertext .footernav .title:hover{

    color: white;
}

.footersecond .footertext .footernav .a{
    text-decoration: none;
    color: #b5b5b5;
    font-size: 0.8rem;
    line-height: 2rem;
}

.footersecond .footericon .butt{
    display:flex;
    gap: 30px;
}

.footersecond .footericon .butt .aa{
    text-decoration: none;
    flex: 50%;
    display:flex;
    gap: 10px;
    align-items: center;
    /* border: thin solid red; */
    background-color: black;
    padding:0 10px ;
    padding-top: 5px;
    border-radius: 0.313rem;
    margin: 10px 0 30px;
    color: #b5b5b5;
}

.footersecond .footericon .butt .aa i{
    color: white;
    font-size: 2rem;
}

.footersecond .footericon .butt .aa p{
    color: #b5b5b5;
    font-size: 0.8rem;
}

.footersecond .footericon .butt .aa p span{
    font-size: 1rem;
    font-weight: 500;
}

.footersecond .footericon .i{
    display: flex;
    gap: 20px;
}

.footersecond .footericon .i i{
    /* border: solid red; */
    background-color: #1c1d1f;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 100%;
    transition: 1s;
}
.footersecond .footericon .i i:hover{

    transform: scale(1.2);
}


.copywrite{
    display: flex;
    background-color: #0c0c0c;
    align-items: center;
    gap: 5px;
    padding-top:50px ;
    padding-bottom: 35px;

}

.copywrite .hr{
    background-color:#b5b5b5a2 ;
    flex: 30%;
    height: 0.3vh;
    
}

.copywrite .copytext{
    color: #b5b5b5;
    font-size: 0.8rem;
}






















































































































/* responsiveness */
/* responsiveness */
/* responsiveness */
/* responsiveness */


@media(max-width:1440px){

    header{
       
        width: 100%;
        overflow:hidden;
    }

    .nav3 .nav3div .logo a img{
        height: 6vh;
    }
    

}


@media(max-width:1165px){

    header{

        max-width: 100%;
        overflow-x:hidden;
    }

    .nav3{

        max-width: 100%;
    }

    .nav3 .nav3links{

        width: 80%;
        margin-right: 5%;
    }


    main .six .kard .c-body .c-body1 a{
        padding: 0.6rem;
        gap: 1.25rem;
    
    }

    main .six .kard .c-body .c-body1 a .img img{

        height: 8vh;
    }



}



@media(max-width:1097px){

    header{

        max-width: 100%;
    }

    header .nav3{

        max-width: 100%;
    }

    .nav3 .nav3links{

        width: 80%;
        /* margin-right: 10%; */
    }

    .nav3 .nav3div .nav3links  .storelink{
        
        font-size: 0.9rem;
        
    }
    .nav3 .nav3div .nav3links  .sellonkonga{
        
        font-size: 0.9rem;
        
    }
    .nav3 .nav3div .nav3links  .helplink{
        
        font-size: 0.9rem;
        
    }
    .nav3 .nav3div .nav3links  .login{
        
        font-size: 0.9rem;
        
    }

    .nav3 .nav3div .nav3links .cart{
        gap: 0.2rem;
        padding: 1.5rem .6rem;
        margin-left: 0.5rem;
        font-size: 0.8rem;
        height: 1.5rem;
        line-height: 1rem;
    }

    .nav3 .nav3div .nav3links .cart p{
        gap: 0.313rem;
        margin-top: 0.938rem;
    }

    .nav3 .nav3div .nav3links .cart .number{
    padding: 0.1rem 0.3rem;
    margin-left: 0.5rem;
    
    }
    .nav4{

        overflow-x: scroll;
    }

    /* main styling */
    /* main styling */
    /* main styling */


    main .third .kard .c-header a{

        text-decoration: none;
        text-decoration: none;
        font-weight: 700;
        font-size: 0.8rem;
        color: white;
    }
    
    main .third .kard .c-body .c-body1 a .img img{
    
        height: 10vh;
    }
    
    
    main .third .kard .c-body .c-body1 a .text div:nth-of-type(2){
    
        display: inline-block;
    }
    
    main .third .kard .c-body .c-body1 a .text div:nth-of-type(2) div:nth-child(1){
    
        font-weight: 700;
        font-size: 1.3em!important;
    }
    
    main .third .kard .c-body .c-body1 a .text div:nth-of-type(2) div:nth-child(3){
    
        font-size: .45rem;
        width: 70%;
        text-align: center;
    }
    
    main .third .kard .c-body .c-body1 a .text span{
    
        font-size: 0.65rem;
        color: green;
        font-weight: 500;
    }

    
    main .six .kard .c-header a{

        text-decoration: none;
        text-decoration: none;
        font-weight: 700;
        font-size: 0.8rem;
        color: white;
    }
    
    main .six .kard .c-body .c-body1 a .img img{
    
        height: 10vh;
    }
    
    
    main .six  .kard .c-body .c-body1 a .text div:nth-of-type(2){
    
        display: inline-block;
    }
    
    main .third .kard .c-body .c-body1 a .text div:nth-of-type(2) div:nth-child(1){
    
        font-weight: 700;
        font-size: 1.3em!important;
    }
    
    main .six .kard .c-body .c-body1 a .text div:nth-of-type(2) div:nth-child(3){
    
        font-size: .45rem;
        width: 70%;
        text-align: center;
    }
    
    main .six .kard .c-body .c-body1 a .text span{
    
        font-size: 0.65rem;
        color: green;
        font-weight: 500;
    }
}


@media(max-width:1024px){

    header{
       
        max-width: 100%;
        /* overflow:hidden; */
    }

    .nav3 .nav3div .logo a img{
        height: 8vh;
    }
    
    .nav3 .nav3div{
        gap: 0.5rem;
        
    }
    
    .nav3 .nav3div .logo{
        width: 15%;
    }

    .nav3 .nav3div .nav3links{

        max-width: 85%;
    }
    


    .nav3 .nav3div .nav3links  .storelink{
        
        font-size: 0.8rem;
        
    }
    .nav3 .nav3div .nav3links  .sellonkonga{
        
        font-size: 0.8rem;
        
    }
    .nav3 .nav3div .nav3links  .helplink{
        
        font-size: 0.8rem;
        
    }
    .nav3 .nav3div .nav3links  .login{
        
        font-size: 0.8rem;
        
    }
    
    .nav3 .nav3div .nav3links .cart{
        gap: 0.2rem;
        padding: 1.1rem .6rem;
        margin-left: 0.5rem;
        font-size: 0.8rem;
        height: 1.5rem;
        line-height: 1rem;
    }

    .nav3 .nav3div .nav3links .cart p{
        gap: 0.313rem;
        margin-top: 0.938rem;
    }

    .nav3 .nav3div .nav3links .cart .number{
    padding: 0.1rem 0.3rem;
    margin-left: 0.5rem;
    
    }


    .nav4 .nav4links .categories{
        font-size: 0.8rem;
    }
    
    .nav4 .nav4links .computer{
        font-size: 0.8rem;
    }
    
    .nav4 .nav4links .phones{
        font-size: 0.8rem;
    }
    
    .nav4 .nav4links .Electronics{
        font-size: 0.8rem;
    }
    
    .nav4 .nav4links .Fashion{
        font-size: 0.8rem;
    }
    .nav4 .nav4links .HomeKitchen{
        font-size: 0.8rem;
    }
    .nav4 .nav4links .BabyToys{
        font-size: 0.8rem;
    }
    .nav4 .nav4links .Others{
        font-size: 0.8rem;
    }
    
}

@media(max-width:992px){
    main .second .img{
    background-color: white;
    padding: 0.75rem 1.25rem;
    border-radius: 0.313rem;
    
}

.nav4{
    overflow-x: scroll;
}

}

@media(max-width:952px){


    header{

        max-width: 100%;
    }

    .nav3{

        max-width: 100%;
    }

    .nav3 .nav3div{
        gap: 0.5rem;
        
    }

    .nav3 .nav3div .logo a img{
        height: 7vh;
    }

    main .ten div div a img{

        height:8vh;
        margin:45px 0;
        margin-left:  10px;
    }

    

}



@media(max-width:894px){

    header{
       
        max-width: 100%;
        /* overflow:hidden; */
    }

    header .nav1ads a img{
       display: none;
    }

    header .nav2{

        background-color: #F6F6F6;
        height: auto;
    }
   

    .nav3 .nav3div .logo a img{
        height: 8vh;
    }
    
    .nav3 .nav3div{
        justify-content: space-around;
        gap: 0.8rem;
        
    }
    
    .nav3 .nav3div .logo{
        display: none;
    }

    .nav3 .nav3div .nav3links  .storelink{
        
        font-size: 0.8rem;
        
    }
    .nav3 .nav3div .nav3links  .sellonkonga{
        
        font-size: 0.8rem;
        
    }
    .nav3 .nav3div .nav3links  .helplink{
        
        font-size: 0.8rem;
        
    }
    .nav3 .nav3div .nav3links  .login{
        
        font-size: 0.8rem;
        
    }

    .nav3 .nav3div .nav3links .cart{
        gap: 0.2rem;
        padding: 1.1rem .6rem;
        margin-left: 0.5rem;
        font-size: 0.8rem;
        height: 1.5rem;
        line-height: 1rem;
    }

    .nav3 .nav3div .nav3links .cart p{
        gap: 0.313rem;
        margin-top: 0.938rem;
    }

    .nav3 .nav3div .nav3links .cart .number{
    padding: 0.1rem 0.3rem;
    margin-left: 0.5rem;
    
    }

    /* nav 4 */


    .nav4 .nav4links .categories{
        font-size: 0.8rem;
    }
    
    .nav4 .nav4links .computer{
        font-size: 0.8rem;
    }
    
    .nav4 .nav4links .phones{
        font-size: 0.8rem;
    }
    
    .nav4 .nav4links .Electronics{
        font-size: 0.8rem;
    }
    
    .nav4 .nav4links .Fashion{
        font-size: 0.8rem;
    }
    .nav4 .nav4links .HomeKitchen{
        font-size: 0.8rem;
    }
    .nav4 .nav4links .BabyToys{
        font-size: 0.8rem;
    }
    .nav4 .nav4links .Others{
        font-size: 0.8rem;
    }



    main .second .img{
    background-color: white;
    padding: 0.6rem 1rem;
    border-radius: 0.313rem;
    
    }

    main .fifth .five{

        background-color: white;
        display: flex;
        padding: 1%;
        width: 97%;
        margin:0 auto;
        justify-content: space-around;
        border-radius: 0.313rem;
    
    }
    
    main .fifth a img{
    
    width: 15vh;
    }
    
}

@media(max-width:834px){
    main .second .img{
        padding: 0.3rem 0.7rem;
    }

    main .ten div div{
        /* background-color: red; */
    }

    main .ten div div a img{

        height:6vh;
        margin:45px 0;
        margin-left:  20px;
    }
}

@media(max-width:802px){

    main .second{
        overflow-x: scroll;
    }

}

@media (max-width:768px){

    main{
    padding-top: 1%;
    }

    main .first{
        display: block;
        gap: 1.5%;
    }

    main .first #carousel div div div img{

        border-radius: 0.625rem;
        height: 60vh;
    }

    main .first .mrcarousel{
        margin-bottom: 0.615rem;
        width: 100%!important;
    }


    main .first .rowimg{

        width: 100%;
        gap: 0.625rem;
    }

    main .first .rowimg .img1 img{

        border-radius: 0.625rem;
        height: 70vh;
        width: 95%;
    }

    main .first .rowimg .img2 img{

        border-radius: 0.625rem;
        height: 70vh;
        width: 95%;
    }

    main .first .rowimg .row2{

        margin-top: 4vh;
    }


    
    /* section 2 */
    /* section 2 */
    /* section 2 */

    main .second{
        display: none;
    }

    main .third{
        display: none;
    }


    main .fourth div .c-body div a .img img{

    height: 60vh;
    }

    main .fifth, main .six{
        display: none;
    }

    main .ten div div a img{

    height:8vh;
    margin:45px 0;
    }

    main .eleven div{

        padding:1.5%;
        font-size: 0.9rem;
    }
}



@media (max-width:767px) {

    header{

        display: none;
    }

    header .nav2,.nav3,.nav4{
        display: none;
    }
    .navsmallscreen .a .ads{
    text-decoration: none;
    height: auto;
    width: 100%;
    /* display: none; */

    }

    .navsmallscreen .firstnav .logo a img{

        height: 7vh;
        margin-left: 0.625rem;
    }

    .navsmallscreen .firstnav .logo a{

        text-decoration: none;
    }

    .navsmallscreen .firstnav .logo a i{
        font-size:1rem ;
        color: black;
    }


    .navsmallscreen{
        display: block;
        background-color: white;
        /* padding: 0.625rem 0.938rem; */
        padding-top: 0;
        position: sticky;
        top: 0;
        z-index: 6;
        padding-bottom: 10px;
    }

    
    .navsmallscreen .firstnav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:0 20px;
        padding-top: 10px;
        /* background-color: green; */
    }

    .navsmallscreen .searchbutton{
        /* background-color: green; */
        margin:10px 20px;
    }

    .navsmallscreen .searchbutton .searchbut{

        height: 30px;
        display: flex;
        align-items: center;

    }


    .navsmallscreen .firstnav .icon i{

        margin-right: 0.625rem;
       
    }

    .smallnavlink{
        display: flex;
        justify-content: space-evenly;
        margin-top: 0.625rem;
        /* background-color: yellow; */
        margin:0 10px;
        /* padding: 0.625rem; */
    
    }

    .smallnavlink .brows a{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #50545B;
    }

    .smallnavlink .fash a{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #50545B;
    }
    .smallnavlink .comp a{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #50545B;
    }

    .smallnavlink .phones a{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #50545B;
    }

    .smallnavlink .alldeals a{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #50545B;
    }


    main .nine{

        overflow-x: scroll;
    }
   
    
}

@media(max-width:735px){

    main .ten div div{
        /* background-color: red; */
    }

    main .ten div div a img{

        height:4vh;
        margin:45px 0;
        /* margin-left:10px; */
    }

    main .ten{

        padding:0 10px;
    }
}


@media (max-width:425px){

    .smallnavlink{

        margin-top: 0.625rem;
        padding: 0.625rem 0;
        font-size: 0.9rem;
    
    }

    main .ten{

        padding:0 10px;
    }

    main .ten div div{
        height: 15vh;
        /* background-color: green; */
    }

    main .ten div div a img{

        height:4vh;
        margin:35px 0;
        margin-right:25px;
    }


    main .eleven{
        display: none;
    }

}

@media (max-width:375px){

    .smallnavlink{
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        margin-top: 0.625rem;
        padding: 0.625rem 0;
        font-size: 0.7rem;
    
    }

    main .ten div div a img{

        height:2vh;
        margin:35px 0;
        margin-right:25px;
    }

}

@media (max-width:320px){

    .smallnavlink{
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        margin-top: 0.625rem;
        padding: 0.625rem 0;
        font-size: 0.6rem;
    
    }

    main .first .mrcarousel{
        margin-bottom: 0.615rem;
        width: 100%!important;
    }


    main .first .rowimg{

        width: 100%;
    }

    main .first .rowimg .img1, main .first .rowimg .img2{

        /* background-color: green; */
        height: 30vh;
    }



    main .first .rowimg .img1 img{

        border-radius: 0.625rem;
        height: 30vh;
        width: 100%;
    }

    main .first .rowimg .img2 img{

        border-radius: 0.625rem;
        height: 30vh;
        width: 100%;
    }

}
