*{padding: 0;
box-sizing: border-box;
/* border: thin solid red; */
}


header .nav1ads a img{
text-decoration: none;
height: auto;
width: 100%;
margin: auto;
}

header .nav2{

background-color: #F6F6F6;
min-height: 5vh;
margin-top: -0.125rem;
max-width: 100%;
padding: 0 1.5%;
}

header .nav2 .navimg{

padding: 0.625rem;
text-align: center;
display: flex;
align-items: center;
justify-content: center; 

}

header .nav2 .navimg a{
text-decoration: none;
}

header .nav2 .navimg a img{

height: 3vh;
padding-right: 3.125rem;  
}


/* navigation bar three starts here */
/* navigation bar three starts here */
/* navigation bar three starts here */
/* navigation bar three starts here */
/* navigation bar three starts here */

.nav3{
background-color: #ed017f;
padding: 0 1.875rem;
/* position: fixed; */
z-index: 3;
width: 100%;
position: sticky ;
top: 0;
}

.nav3 .nav3div .logo a img{
height: 5vh;
}

.nav3 .nav3div{

display: flex;
align-items: center;
gap: 1rem;
height: 3.75rem;
max-width: 100%;
}

.nav3 .nav3div .logo{
width: 15%;
}

.nav3 .nav3div .nav3links{
width: 85%;
display: flex;
align-items: center;
height: 3.75rem;
}

.nav3 .nav3div .nav3links a{

text-decoration: none;
}

.nav3 .nav3div .nav3links #searchbutton{

min-width: 48%;
font-size: 0.813rem!important;
height: 2.188rem;

}

.nav3 .nav3div .nav3links #searchbutton input{

font-size: 0.813rem!important;


}

.nav3 .nav3div .nav3links #searchbutton .searchbut{
background-color: #FBA100!important;
}

.nav3 .nav3div .nav3links #searchbutton button .fa-solid{

font-size: 0.75rem;

}
.nav3 .nav3div .nav3links .storelink{
/* background-color: red; */
padding: .9375rem;
padding-right: 0.938rem;
padding-left: 0.938rem; 
/* padding-left: 35px; */
font-size: 1rem;
line-height: 1;
color: #FFFFFF;
height: 100%;
transition: 0.5s;
}

.nav3 .nav3div .nav3links .storelink:hover{

background-color: #FFFFFF;
color: #ed017f;
}

.nav3 .nav3div .nav3links .sellonkonga{
/* background-color: orange; */
padding: 1rem;
padding-right: 0.938rem;
padding-left: 0.938rem; 
font-size: 1rem;
line-height: 1;
color: #FFFFFF;
height: 100%;
transition: 0.5s;
white-space: nowrap;
display: block;
}

.nav3 .nav3div .nav3links .sellonkonga:hover{

background-color: #FFFFFF;
color: #ed017f;
}

.nav3 .nav3div .nav3links  .helplink{
/* background-color: green; */
display: flex;
align-items: center;   
font-size: 1rem;
line-height: 1;
color: #FFFFFF;
gap: 0.5rem;
height: 3.75rem;
transition: 0.5s;
padding: 1.875rem 0;
padding-right: 1rem;
padding-left: 1rem;
}

.nav3 .nav3div .nav3links .helpdropdown .helplink:hover{

background-color: #FFFFFF;
color: #ed017f;
}

/* dropdown for help link */

.helpdropdown{
position: relative;
display: inline-block;
z-index: 1;

}

.helpdropcontents{
position: absolute;
min-height: 10vh;
min-width:200% ;
background-color: #FFFFFF;
/* background-color: red; */
display: none;   
/* background-color: green; */
top: 3.125rem;
transition: 2s;

}

.helpdropcontents div a{
color: black;
line-height: 2.5rem;
font-size: 1rem;
padding: 0.625rem 3.125rem 0.625rem 1.25rem;
/* background-color: blue; */

}

.helpdropdown:hover .helpdropcontents{
display: block;
/* transform: translateY(10px); */
}

.helpdropcontents div a:hover{
color: red;
}

.helpdropcontents div:hover{
color: red;
background-color: rgb(238, 235, 235);
}



.nav3 .nav3div .nav3links .login{
/* background-color: red; */
padding: .9375rem; 
font-size: 1rem;
line-height: 1;
color: #FFFFFF;
height: 3.75rem;
transition: 0.5s;
white-space: nowrap;
padding-right: 0.938rem;
padding-left: 0.938rem; 

}

.nav3 .nav3div .nav3links .login:hover{

background-color: #FFFFFF;
color: #ed017f;
}


.nav3 .nav3div .nav3links .cart{
display: flex;
align-items: center;
gap: 0.5rem;
background-color: #33b27b;
border-radius: 0.188rem;
padding: 1.563rem 1.563rem;
margin-left: 0.5rem;
color: white;
font-size: 1rem;
height: 2.188rem;
transition: 0.5s;
}

.nav3 .nav3div .nav3links .cart:hover{

background-color: #1f8a5b;
}

.nav3 .nav3div .nav3links .cart p{
display: flex;
align-items: center;
gap: 0.313rem;
margin-top: 1rem;
}

.nav3 .nav3div .nav3links .cart .number{
background-color: rgb(255, 255, 255);
padding: 0.188rem 0.375rem;
margin-left: 0.5rem;
border-radius: 0.188rem;
color: black;

}




/* nav4 styling starts here*/
/* nav4 styling starts here*/
/* nav4 styling starts here*/
/* nav4 styling starts here*/
/* nav4 styling starts here*/

.nav4{

background-color: #94004f;
white-space: nowrap;
overflow-x: hidden;
z-index: 1;
position: sticky ;
top: 60px;
}

.nav4 .nav4links{
display: flex;
justify-content: space-between;
align-items: center;
}

.nav4 .nav4links a{
text-decoration: none;
color: white;
}

.nav4 .nav4links .categories{
padding: 0.75rem 1.5rem;
height: 100%;
}

.nav4 .nav4links .computer{
padding: 0.75rem 0.938rem;
}

.nav4 .nav4links .phones{
padding: 0.75rem 0.938rem;
}

.nav4 .nav4links .Electronics{
padding: 0.75rem 0.938rem;
}

.nav4 .nav4links .Fashion{
padding: 0.75rem 0.938rem;
}
.nav4 .nav4links .HomeKitchen{
padding: 0.75rem 0.938rem;
}
.nav4 .nav4links .BabyToys{
padding: 0.75rem 0.938rem;
}
.nav4 .nav4links .others{
padding: 0.75rem 0.938rem;
}


/* categories dropdown styling*/



.nav4 .nav4links .categ{

position: relative;
display: inline-block;
z-index: 3;

}


.nav4 .nav4links .categ .Catdropdown{

top: 2.25rem;
position: absolute;
/* background-color: green; */
min-height: 50vh;
width: 100vw;
display:none;

}

.nav4 .nav4links .categories{
transition: 0.5s;
}

.nav4 .nav4links .categories:hover{
background-color: #ffffff;
color: black;
}

.nav4 .nav4links .categ:hover .nav4 .nav4links .categ .Catdropdown{
display: block;
z-index: 3;
}

header .nav4 .nav4links .categ .categoriesdropdown{ 
display: flex;
width:100%;
}



.nav4 .nav4links .categ .categoriesdropdown a{

    color: black;
}


.nav4 .nav4links .categ .categoriesdropdown .categ1stbar{

background-color: rgb(243, 243, 239);
width: 25%;
padding-top: 1.25rem;
margin-left: -1.875rem;
}


.nav4 .nav4links .categ .categoriesdropdown .categ1stbar ul li{

list-style-type: none;
width: 100%; 
font-size: 1em;

}


.nav4 .nav4links .categ .categoriesdropdown .categ1stbar ul .cat-content a{


padding: 0.688 1.875rem;
display: block;
text-align: left;
}

.nav4 .nav4links .categ .categoriesdropdown .categ1stbar ul .cat-content a:hover{

background-color: white;

}


/* 2nd div within the dropdowns */

.nav4 .nav4links .categ .categoriesdropdown .categ2nd{

background-color: #ffffff;
width: 75%;
padding: 1.875rem 1.875rem 301.875rem 0rem;
}

.nav4 .nav4links .categ .categoriesdropdown .categ2nd .comprow{

/* background-color: yellow; */
font-size: 0.813;

}


.nav4 .nav4links .categ .categoriesdropdown .categ2nd .computercontents ul li{

padding: 0.313rem 0;
list-style-type: none;
/* background-color: red; */
/* width: 100%; */
} 

.nav4 .nav4links .categ .categoriesdropdown .categ2nd .computercontents{

display: flex;
gap: 1.875rem;
}

.nav4 .nav4links .categ .categoriesdropdown .categ2nd .computercontents .comprow{

display: grid;
grid-template-areas:'. . . .'
                    '. . . .';
}


.navsmallscreen, .footersmallscreen{
    display: none;
}

.four-respon{
    display: none;
}
/* main styling */
/* main styling */
/* main styling */

.one{

    background-color: white;
    padding: 20px;
}

.one nav{

    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 30px;
}

.one nav a{
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}

.one nav .active{
    color: #9a0052;
    font-weight: 500;
}

.one div{
    font-weight:700 ;
    font-size: 3rem;
}


.two{
    background-color: #f5f5f5;
    padding:20px 30px;
}

.two .Grow{
    background-color: white;
    display: flex;
    align-items: center;
    padding:40px;
    gap: 40px;
    /* border: thin solid blue; */
}

.two .Grow .img{
    flex: 25%;
    width: 100%;
    /* border: thin solid red; */
    
}

.two .Grow .text{
    flex: 75%;
    /* border: thin solid green; */
    margin-top: -100px;
}

.two .Grow .text h1{
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 700;
}

.two .Grow .text p{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.two .Grow button{

    padding: 10px 30px; 
    background-color: white;
    border: 1px solid #ed017f;
    color: #ed017f;
    font-weight: 600;
    border-radius: 0.313rem;

}

.three{

    background-color: #f5f5f5;
    padding:20px 30px;
    margin-top: -20px;

}

.three .why{
    background-color: white;
    padding: 50px;
}

.three .why h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
}

.three .why div .kard p{
    font-weight: 700;
    margin-top: 20px;
    color: black;
}
.three .why div .kard span{
    font-size: 0.8rem;
    color: rgb(56, 55, 55);
}

.three .why .roww{
    margin-top: 50px;
}

.four{

    background-color: #f5f5f5;
    padding:20px 30px;
    margin-top: -20px;
    padding-bottom: 50px;
   

}

.four .earn{
    background-color: white;
    display: flex;
    align-items: center;
    padding:70px 100px;
    position: relative;
    /* gap: 40px; */
}

.four .earn .text{
    flex: 75%;
    /* border: thin solid green; */
    /* margin-top: -100px; */
}

.four .earn .text h1{
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
}


.four .earn button{

    padding: 10px 30px; 
    background-color: white;
    border: 1px solid #ed017f;
    color: #ed017f;
    font-weight: 600;
    border-radius: 0.313rem;

}

.four .img{

    position: absolute;
    /* width: 100%; */
    top: 100px;
    left: 650px;
    /* margin-top: 100px; */
    /* border: thin solid red; */
    
}


.footerfirst{

    background-color: #1c1d1f;
    padding:1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    font-size: 0.9rem;

}
.footerfirst a{
    
    text-decoration: none;
    color: #b5b5b5;
    display: flex;
    align-items: center;
    gap: 0.625rem;

}
.footerfirst .link .text{
    margin-top: 15px;
}

.footerfirst .link i{
    color:#1c1d1f;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
}

.footerfirst .inputbox{
    display: flex;
}

.footerfirst .inputbox .text{
    padding: 10px;
    border-top-left-radius:0.313rem;
    border-bottom-left-radius: 0.313rem;
    border: none;
}

.footerfirst .inputbox button{

    padding: 10px;
    border: none;
    border-top-right-radius: 0.313rem;
    border-bottom-right-radius: 0.313rem;
    color: white;
    font-weight: 500;
    background-color: #ed017f;
}

.footersecond{
    background-color: #0c0c0c;
    padding:1%;
    color: #b5b5b5;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.footersecond .footertext .footernav{

    display: flex;
    flex-direction: column;
}

.footersecond .footertext{
    /* border: thin solid red; */
    flex: 70%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.footersecond .footericon{
    flex: 30%;
    /* border: thin solid red; */
}

.footersecond .footertext .footernav a{
    text-decoration: none;
}

.footersecond .footertext .footernav .a:hover,.footersecond .footertext .footernav .title:hover{

    color: white;
}

.footersecond .footertext .footernav .a{
    text-decoration: none;
    color: #b5b5b5;
    font-size: 0.8rem;
    line-height: 2rem;
}

.footersecond .footericon .butt{
    display:flex;
    gap: 30px;
}

.footersecond .footericon .butt .aa{
    text-decoration: none;
    flex: 50%;
    display:flex;
    gap: 10px;
    align-items: center;
    /* border: thin solid red; */
    background-color: black;
    padding:0 10px ;
    padding-top: 5px;
    border-radius: 0.313rem;
    margin: 10px 0 30px;
    color: #b5b5b5;
}

.footersecond .footericon .butt .aa i{
    color: white;
    font-size: 2rem;
}

.footersecond .footericon .butt .aa p{
    color: #b5b5b5;
    font-size: 0.8rem;
}

.footersecond .footericon .butt .aa p span{
    font-size: 1rem;
    font-weight: 500;
}

.footersecond .footericon .i{
    display: flex;
    gap: 20px;
}

.footersecond .footericon .i i{
    /* border: solid red; */
    background-color: #1c1d1f;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 100%;
    transition: 1s;
}
.footersecond .footericon .i i:hover{

    transform: scale(1.2);
}


.copywrite{
    display: flex;
    background-color: #0c0c0c;
    align-items: center;
    gap: 5px;
    padding-top:50px ;
    padding-bottom: 35px;

}

.copywrite .hr{
    background-color:#b5b5b5a2 ;
    flex: 30%;
    height: 0.3vh;
    
}

.copywrite .copytext{
    color: #b5b5b5;
    font-size: 0.8rem;
}

















@media(max-width:1200px){

    .four{

        background-color: #f5f5f5;
        padding:20px 30px;
        margin-top: -20px;
        padding-bottom: 50px;
       
    
    }
    
    .four .earn{
        background-color: white;
        display: flex;
        align-items: center;
        padding:70px 100px;
        position: relative;
        /* gap: 40px; */
    }
    
    .four .earn .text{
        flex: 75%;
        /* border: thin solid green; */
        /* margin-top: -100px; */
    }
    
    .four .earn .text h1{
        margin-bottom: 20px;
        font-size: 2.5rem;
        font-weight: 700;
    }
    
    
    .four .earn button{
    
        padding: 10px 30px; 
        background-color: white;
        border: 1px solid #ed017f;
        color: #ed017f;
        font-weight: 600;
        border-radius: 0.313rem;
    
    }
    
    .four .img{
    
        position: absolute;
        /* width: 100%; */
        top: 100px;
        left: 600px;
        /* margin-top: 100px; */
        /* border: thin solid red; */
        
    }
    
}





@media(max-width:1150px){

    /* for navbars */
    
    .nav3 .nav3div .logo{
        width: 10%;
    }
       
    .nav4{
        font-size: 0.8rem;
        /* overflow-x: scroll; */
    }

    .four .img{
    
        position: absolute;
        /* width: 100%; */
        top: 100px;
        left: 500px;
        /* margin-top: 100px; */
        /* border: thin solid red; */
        
    }


    .footerfirst{

        background-color: #1c1d1f;
        padding:1%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* margin-top: 0.5%; */
        min-height: 15vh;
        font-size: 0.7rem;
    
    }
}


@media(max-width:1061px){

    /* navbars */
    
.nav3 .nav3div .nav3links .cart{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #33b27b;
    border-radius: 0.188rem;
    padding: 1rem 1rem;
    margin-left: 0.5rem;
    color: white;
    font-size: 0.8rem;
    transition: 0.5s;
}

.nav3 .nav3div .nav3links .cart .number{
   background-color: rgb(255, 255, 255);
   padding: 0.1rem 0.375rem;
   margin-left: 0.5rem;
   border-radius: 0.188rem;
   color: black;
   
}

.four .img{
    
    position: absolute;
    /* width: 100%; */
    top: 100px;
    left: 450px;
    /* margin-top: 100px; */
    /* border: thin solid red; */
    
}

}


@media(max-width:1013px){

     
    .nav3 .nav3div .logo{
        width: 8%;
    }

    
.two{
    background-color: #f5f5f5;
    padding:20px 30px;
}

.two .Grow{
    background-color: white;
    display: flex;
    align-items: center;
    padding:40px;
    gap: 40px;
    /* border: thin solid blue; */
}


.two .Grow .img img{
    width: 100%;
}

.two .Grow .img{
    flex: 40%;
    
    /* height: 5vh; */
    /* border: thin solid red; */
    
}

.two .Grow .text{
    flex: 50%;
    /* border: thin solid green; */
    margin-top: 50px;
}

.two .Grow .text h1{
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
}

.two .Grow .text p{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.two .Grow button{

    padding: 10px 30px; 
    background-color: white;
    border: 1px solid #ed017f;
    color: #ed017f;
    font-weight: 600;
    border-radius: 0.313rem;

}
    
}

@media(max-width:965px){

    .nav3 .nav3div .logo{
        display: none;
    }

    .nav3 .nav3div .nav3links{
        width: 100%;
    }
   

    .four{
        display: none;
    }

    .four-respon{

        display: block;

        background-color: black;
        padding:20px 30px;
        margin-top: -20px;
        padding-bottom: 50px;
        text-align: center;
       
    
    }
    
    .four-respon .earn{
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:70px 100px;
    }
    
    .four-respon .earn .text{
        flex: 75%;
        margin-bottom: 40px;
        color: white;
        /* border: thin solid green; */
        /* margin-top: -100px; */
    }
    
    .four-respon .earn .text h1{
        margin-bottom: 20px;
        font-size: 2.5rem;
        font-weight: 700;
    }
    
    
    .four-respon .earn button{
    
        padding: 10px 30px; 
        background-color: white;
        border: 1px solid #ed017f;
        color: #ed017f;
        font-weight: 600;
        border-radius: 0.313rem;
    
    }
    
  
 
}

@media(max-width:929px){

    .nav3 .nav3div .nav3links a{

        font-size: 0.8rem!important;
    }
    
    .nav4{
        overflow-x: scroll;
    }

}
@media(max-width:847px){

    .nav3 .nav3div .nav3links .cart{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: #33b27b;
        border-radius: 0.188rem;
        padding: 1rem .5rem;
        margin-left: 0.5rem;
        color: white;
        font-size: 0.8rem;
        transition: 0.5s;
    }


}
@media(max-width:823px){


    
    header .nav2 .navimg a img{
   
        height: 3vh;
        padding-right: 2.125rem;  
    }


    .nav3{
        overflow-x: scroll;
    }

    .footerfirst{

        background-color: #1c1d1f;
        padding:1%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* margin-top: 0.5%; */
        min-height: 15vh;
        font-size: 0.7rem;
    
    }
    .footerfirst a{
        
        text-decoration: none;
        color: #b5b5b5;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    
    }
    .footerfirst .link .text{
        padding-top: 20px;
    }
    
    .footerfirst .link i{
        color:#1c1d1f;
        padding: 8px;
        border-radius: 50%;
        background-color: white;
    }
    
    .footerfirst .inputbox{
        display: flex;
    }
    
    .footerfirst .inputbox .text{
        padding: 7px;
        border-top-left-radius:0.313rem;
        border-bottom-left-radius: 0.313rem;
        border: none;
    }
    
    .footerfirst .inputbox button{
    
        padding: 10px;
        border: none;
        border-top-right-radius: 0.313rem;
        border-bottom-right-radius: 0.313rem;
        color: white;
        font-weight: 500;
        background-color: #ed017f;
    }
    
    .footersecond{
        background-color: #0c0c0c;
        padding:1%;
        color: #b5b5b5;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 60px;
    }
    



}



@media(max-width:768px){


    .footerfirst{
        display: none;
    }

    .footersecond{
        display: none;
    }

    .copywrite{
        display: none;
    }

}
@media(max-width:767px){

    header, .nav3, .nav4{
        display: none;
    }

    .navsmallscreen .a .ads{
        text-decoration: none;
        height: auto;
        width: 100%;
    }
    
    .navsmallscreen .firstnav .logo a img{

        height: 5vh;
        margin-left: 0.625rem;
    }

    .navsmallscreen .firstnav .logo a{

        text-decoration: none;
    }

    .navsmallscreen .firstnav .logo a i{
        font-size:1rem ;
        color: black;
    }


    .navsmallscreen{
        display: block;
        background-color: white;
        /* padding: 0.625rem 0.938rem; */
        padding-top: 0;
        position: sticky;
        top: 0;
        z-index: 6;
        padding-bottom: 10px;
    }

    
    .navsmallscreen .firstnav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:0 20px;
        padding-top: 10px;
        /* background-color: green; */
    }

    .navsmallscreen .searchbutton{
        /* background-color: green; */
        margin:10px 20px;
    }

    .navsmallscreen .searchbutton .searchbut{

        height: 30px;
        display: flex;
        align-items: center;

    }


    .navsmallscreen .firstnav .icon i{

        margin-right: 0.625rem;
       
    }

    .smallnavlink{
        display: flex;
        justify-content: space-evenly;
        margin-top: 0.625rem;
        /* background-color: yellow; */
        margin:0 10px;
        /* padding: 0.625rem; */
    
    }

    .smallnavlink .brows a{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #50545B;
    }

    .smallnavlink .fash a{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #50545B;
    }
    .smallnavlink .comp a{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #50545B;
    }

    .smallnavlink .phones a{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #50545B;
    }

    .smallnavlink .alldeals a{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #50545B;
    }


    .footersmallscreen{
        background-color: white;
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 5px;
    }
    .footersmallscreen a{
        text-decoration: none;
        color: grey;
    }
    
    .footersmallscreen a:active{
        color: #94004f;
    }



}

@media(max-width:712px){
    .seven{

        padding: 50px 40px;
        background-color: #f5f5f5;
    }
}

@media(max-width:585px){

    .one div{
        font-size: 2.5rem;
    }
    .two .Grow .img{
    
        display: none;
    }

    .four-respon .earn .text h1{

        font-size:2rem ;
    }

    .four-respon .img img{

        height: 30vh;

    
    }



}
@media(max-width:430px){

    .smallnavlink{
        display: flex;
        justify-content: space-evenly;
        margin-top: 0.625rem;
        /* background-color: yellow; */
        margin:0 10px;
        /* padding: 0.625rem; */
    
    }

    .smallnavlink .brows a{

        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;
        text-decoration: none;
        color: #50545B;
    }

    .smallnavlink .fash a{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #50545B;
        font-size: 0.8rem;
    }
    .smallnavlink .comp a{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #50545B;
        font-size: 0.8rem;
    }

    .smallnavlink .alldeals a{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #50545B;
        font-size: 0.8rem;
    }

    .smallnavlink .phones a{
        font-size: 0.8rem;
    }


    .four-respon .img img{

        height: 20vh;

    
    }
 

}

@media(max-width:375px){

    .one div{
        font-size: 2rem;
    }
}





