*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: thin solid red; */
}

nav{

    display: flex;
    /* 60px */
    gap: 3.75rem;
    min-height: 10vh;
    /* border: thin solid blue; */
    background-color:#f8f9fa;
    /* 25px */
    padding: 1.563rem;

}

nav div div a{
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}

nav .logo {
    flex: 60%;
    display: flex;
    align-items: center;
    /* 40px */
    gap: 2.5rem;
    /* border: thin solid red; */
}

nav .logo div img{
    width: 100%;
    height: 5.5vh;
}

nav .icons div a{
    display: flex;
    align-items: center;
    font-weight: 600;
}
nav .logo .contact a{

    /* 20px */
    margin-left: 1.25rem;

}

nav .logo .contact a i{
    /* 5px */
    margin-right: 0.313rem;
}
nav .icons{
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 30px */
    margin-right: 1.875rem;
    /* 40px */
    gap:2.5rem;
    /* border: thin solid green; */
}

nav .icons button{
    background-color: #E7067D;
    color: white;

    /* 5px 20px */
    padding:0.313rem 1.25rem ;
    /* 5px */
    border-radius: 0.313rem;
}


nav .menu{
    display: none;
}

/* main */
/* main */

.first div a img{
    width: 100%;
}

.first div{
    /* border: thin solid red; */
    display: flex;
    position: relative;
}

.first div a{
    text-decoration: none;
    
}

.first div button{
    position: absolute;
    display: flex;
    bottom: 0;
    justify-content: flex-end;
    align-items: center;
    gap: 0.313rem;
    right: 0;
    background-color: #ffae00;
    /* 15px 30px */
    padding:0.938rem 1.875rem;
    /* z-index: 5; */
    font-weight: 500;
}


.two{
    background-color: #fff8ee;
    /* 50px */
    padding: 3.125rem;
}

.two .flight{

    background-color: white;
    /* 0 10px 20px 3px */
    box-shadow: 0px 0.625rem 1.25rem 0.188rem rgba(187, 185, 185, 0.5);
    /* 30px */
    padding: 1.875rem;
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
}

.two .flightext{
    background-color: #fff8ee;
    display: flex;
    align-items: center;
}

.two .flightext p{
    background-color: white;
    /* 10px 15px */
    padding: 0.625rem 0.938rem;
    margin-bottom: -0.25rem;
}

.two .flight .radio{
    display: flex;
    align-items: center;
    /* 5px */
    gap: 0.313rem;
    /* 20px */
    margin-bottom: 1.25rem;
}
.two .flight .radio div{

    font-weight: 600;
}
#radcolor{
    accent-color: #E7067D;
}
#calender{
    accent-color: #e7067d;
}

.two .flight{
    position: relative;
}
.two .flight .box{
    display: flex;
    /* 30px */
    gap: 1.875rem;
}

.two .flight .box .boxes{

    flex: 25%;

    background-color: #fff8ee;
    border: thin solid #E7067D;
    border-radius: 0.625rem;
    display: flex;
    justify-content: space-between;
    /* height: 15vh; */
    /* 15px */
    padding: 0.938rem;
    padding-bottom: 0px;
}

.two .flight .arrow i{
    position: absolute;
    top: 35%;
    left: 23%;
    border: thin solid red;
    background-color: #fff8ee;
    border: thin solid #E7067D;
    border-radius: 100%;
    padding: 0.938rem;
}


.two .flight .box .boxesdate{

    background-color: #fff8ee;
    border: thin solid #E7067D;
    border-radius: 0.625rem;
    flex: 35%;
    padding: 0.938rem;
    padding-bottom: 0px;
    
}
.two .flight .box .boxes2{

    background-color: #fff8ee;
    border: thin solid #E7067D;
    border-radius: 0.625rem;
    flex:15%;
    /* 15px */
    padding: 0.938rem;
    padding-bottom: 0px;
}

.two .flight .box .boxes2 .pass{
    font-weight: 600;
}

.two .flight .button{
    /* border: thin solid red; */
    /* 30px */
    margin-top: 1.875rem;
    display: flex;
    justify-content: center;
}
.two .flight button{
    background-color: #E7067D;
    /* 15px 40px */
    padding:0.938rem 2.5rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 0.313rem;
}

.three{
    background-color: #fff8ee;
    /* 50px */
    padding: 3.125rem;
    text-align: left;
}

.three .images{

    display: flex;
    justify-content: center;
    /* 20px */
    gap: 1.25rem;
    /* 50px */
    margin-top: 3.125rem;
}

.three .images .kard{
    border: none;
    box-shadow: 0px 10px 20px 3px rgba(41, 40, 40, 0.288);
    min-height: 52vh;
    transition: 1s;
}


.three .images .kard:hover{
    transform: scale(1.05);
}


.three .images .kard .text{
    padding: 0.938rem;
    /* border: thin solid red; */
}

.three .images .kard .text div:nth-of-type(1){

    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}
.three .images .kard .text div:nth-of-type(2){

    font-weight: 400;
    font-size: 1.1rem;
    color:gray;
    margin-bottom: 0.625rem;
}

.three .images .kard .text button{

    background-color: #E7067D;
    color: white;
    width: 100%;
    /* 5px */
    padding: 0.313rem;
    border-radius: 0.313rem;
    font-weight: 700;
}


.four{
    background-color: #E7067D;
    height: 17vh;
}

.five{
    background-color: #f3f6fd;
    display: flex;
    align-items: center;
    /* 50px */
    gap: 3.125rem;
    padding: 3.125rem;
}

.five .textdiv{
    display: flex;
    align-items: center;
    gap: 3.125rem;
}

.five .input{
    display: flex;
}

.five .input input{ 
    /* 15px 100px 15px 15px */
   padding:0.938rem 6.25rem 0.938rem 0.938rem;
   border: thin solid rgba(128, 128, 128, 0.5);
   border-top-left-radius: 0.313rem;
   border-bottom-left-radius: 0.313rem;
   border-right: none;
}

.five .input button{
    /* 15px 40px */
    padding:0.938rem 2.5rem;
    background-color: #E7067D;
    border-top-right-radius: 0.313rem;
    border-bottom-right-radius: 0.313rem;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}

.footer{
    background-color: white;
    /* 80px 70px */
    padding:5rem 4.375rem;
    display: flex;
    /* 200px */
    gap: 12.5rem;
    
}

.footer .contact{
    font-size: 1.2rem;
    font-weight: 500;
}
.footer .contact a{
    text-decoration: none;
    color: #E7067D;
}

.footer .contact .help{

    border-bottom: thin solid #E7067D;
    width: 60%;
    padding-bottom: 0.313rem;
    margin-bottom: 1.563rem;
}

.footer .contact .call{
    border-left: 0.125rem solid #E7067D;
    /* 20px */
    margin-bottom: 1.25rem;
    /* 10px */
    padding-left: 0.625rem;
}

.footer .about a{

    text-decoration: none;
    color: black;

}
.footer .about .comp{

    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: thin solid #E7067D;
    /* width:100%; */
    padding-bottom: 0.313rem;
    /* 20px */
    margin-bottom: 1.25rem;
}

.footer .about .abt{
    font-size: 1.1rem;
    font-weight: 400;
    /* 20px */
    margin-bottom: 1.25rem;
}

.footer2{
    background-color: #f3f6fd;
    /* 25px 70px */
    padding:1.563rem 4.375rem;
    font-weight: 600;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}






/* media queries */
/* media queries */
/* media queries */
/* media queries */
/* media queries */
/* media queries */





@media(max-width:991px){
    nav{
        display: none;
    }


    .first div button{
        padding:0.7rem 1.4rem;
    
    }
    

   .two .flight .radio{

        margin-left: 10rem;
   } 
    .two .flight .box{
    display: block;
    }

    .two .flight .box .boxes{

    width: 50%;
    margin: auto;
    margin-bottom: 0.625rem;
    padding: 0.938rem;
    }   


    .two .flight .box .boxesdate{

    width: 50%;
    margin: auto;

    background-color: #fff8ee;
    border: thin solid #E7067D;
    border-radius: 0.625rem;
    flex: 35%;
    padding: 1rem;
    margin-bottom: 0.625rem;
    /* padding-bottom: 0px; */
    
    }
    .two .flight .box .boxes2{

    width: 50%;
    margin: auto;
    background-color: #fff8ee;
    border: thin solid #E7067D;
    border-radius: 0.625rem;
    flex:15%;
    /* 15px */
    padding: 0.938rem;
    }

    .two .flight .arrow{
    display: none;
    }




    .five{
        background-color: #f3f6fd;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        /* 50px */
        gap: 3.125rem;
        padding: 3.125rem;
    }

}

@media(max-width:785px){


    .first div button{
        padding:0.5rem 1rem;
    
    }

    .two .flight .radio{

        width: 80% ;
        margin: auto;
        margin-bottom: 0.6235rem;
   } 
    .two .flight .box{
    display: block;
    }

    .two .flight .box .boxes{

    width: 80%;
    margin: auto;
    margin-bottom: 0.625rem;
    padding: 0.938rem;
    }


    .two .flight .box .boxesdate{

    width: 80%;
    margin: auto;

    background-color: #fff8ee;
    border: thin solid #E7067D;
    border-radius: 0.625rem;
    flex: 35%;
    padding: 1rem;
    margin-bottom: 0.625rem;
    /* padding-bottom: 0px; */
    
    }
    .two .flight .box .boxes2{

    width: 80%;
    margin: auto;
    background-color: #fff8ee;
    border: thin solid #E7067D;
    border-radius: 0.625rem;
    flex:15%;
    /* 15px */
    padding: 0.938rem;
    }

    .footer2{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:768px){

    .three .images{

        display: block;
        justify-content: center;
        /* 20px */
        
        width: 80%;
        margin: auto;
        gap: 1.25rem;
        /* 50px */
        margin-top: 3.125rem;
    
    }

    .three .images .kard{
        margin-bottom: 1rem;
    }
}

@media(max-width:760px){

    nav{
        display: flex;
    }
    nav .logo .contact{
        display: none;
    }

    nav .icons{
        display: none;
    }

    
}
@media(max-width:581px){

    .three .images{

        display: block;
        justify-content: center;
        /* 20px */
        
        width: 100%;
        margin: auto;
        gap: 1.25rem;
        /* 50px */
        margin-top: 3.125rem;
    }

    .footer{
        background-color: white;
        /* 80px 70px */
        padding:5rem 4.375rem;
        display: flex;
        /* 200px */
        gap: 6.5rem;

    }
        
}
@media(max-width:575px){

    .first div button{
        padding:0.3rem 0.8rem;
        font-size: 0.9rem;
    
    }


    .two{
        background-color: #fff8ee;
        /* 50px */
        padding: 1.125rem;
    }

    .two .flight .button{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }
    .two .flight button{
        background-color: #E7067D;
        /* 15px 40px */
        padding:0.4rem 1rem;
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
        border-radius: 0.313rem;
    }
    .footer{
        background-color: white;
        /* 80px 70px */
        padding:5rem 2.375rem;
        display: block;
    }    

    .footer .about .comp{

        font-size: 1.2rem;
        font-weight: 500;
        border-bottom: thin solid #E7067D;
        width:50%;
        padding-bottom: 0.313rem;
        /* 20px */
        margin-bottom: 1.25rem;
    }

}
@media(max-width:480px){


    .first div a img{
       
        height: 20vh;
    }
    .first div button{
        padding:0.1rem 0.4rem;
        font-size: 0.8rem;
    
    }

    .two .flight .radio{
        display: flex;
        flex-direction: column;
    }

    .two .flight .box .boxes{

        width: 100%;
        margin: auto;
        margin-bottom: 0.625rem;
        padding: 0.938rem;
        }   
    
    
        .two .flight .box .boxesdate{
    
        width: 100%;
        margin: auto;
    
        background-color: #fff8ee;
        border: thin solid #E7067D;
        border-radius: 0.625rem;
        flex: 35%;
        padding: 1rem;
        margin-bottom: 0.625rem;
        /* padding-bottom: 0px; */
        
        }
        .two .flight .box .boxes2{
    
        width: 100%;
        margin: auto;
        background-color: #fff8ee;
        border: thin solid #E7067D;
        border-radius: 0.625rem;
        flex:15%;
        /* 15px */
        padding: 0.938rem;
        }
    
        .two .flight .arrow{
        display: none;
        }
    

    .five .input input{ 
        /* 15px 100px 15px 15px */
       padding:0.938rem 3.25rem 0.938rem 0.938rem;
    }
    
    .five .input button{
        /* 15px 40px */
        padding:0.938rem 0.5rem;
        background-color: #E7067D;
        border-top-right-radius: 0.313rem;
        border-bottom-right-radius: 0.313rem;
        color: white;
        font-weight: 600;
        font-size: 1.2rem;
    }

    .footer2{
        text-align: center;
    }

}

@media(max-width:364px){

    .five .input input{ 
        /* 15px 100px 15px 15px */
       padding:0.7rem 1.25rem 0.7rem 0.7rem;
    }
    
    .five .input button{
        /* 15px 40px */
        padding:0.7rem 0.rem;
        background-color: #E7067D;
        border-top-right-radius: 0.313rem;
        border-bottom-right-radius: 0.313rem;
        color: white;
        font-weight: 600;
        font-size: 0.8rem;
    }

}